:root{
  --large-text : 1.3rem;
  --titleSize : 1rem;
  --subTitleSize : .95rem;
  --textSize : .85rem;
  --font-weight: 400;
  --imgHeight : 640px;
  --spacing1: 0.25rem;
  --spacing2: 0.50rem;
  --spacing3 : 0.75rem;
  --whiteColor : #FEFFFE;
  --primaryColor : #490b3d;
  --secondaryColor : #bd1e51;
  --tertiaryColor: #f1b814;
}

.logo{
  width: 60px;
  height: 60px;
}

.straight-line{
  width: 75%;
  display: inline-block;
  margin: var(--spacing3) 0;
  border: 1px solid var(--tertiaryColor);
}

.darkBrown-btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  color: var(--whiteColor);
  background-color: var(--primaryColor);  
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.magenta-btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  color: var(--whiteColor);
  background-color: var(--secondaryColor);
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.darkBrown-btn:hover{
  color: var(--whiteColor);
  background-color: #1f0319;
}

.magenta-btn:hover{
  color: var(--whiteColor);
  background-color: #910a35;
}

.cta-btn{
  width: 1.6rem;
  height: 1.6rem;
  margin: 0;
  border: none;
  border-radius: 10%;
  font-size: var(--textSize);
  color: var(--whiteColor);
  text-decoration: none;
}

.cta-btn:hover{
  border-radius: 20%;
  transition: 1s all ease-in;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.add-btn{
   background-color: #438945;
}

.remove-btn{
  background-color: var(--secondaryColor);
}

.section-title{
  color: var(--primaryColor);
  font-size: var(--large-text);
  font-weight: var(--font-weight);
}

.mySwiper{
  width: 100%;
  height: 220px;
}

.swiper-button-prev, .swiper-button-next{
  color: var(--tertiaryColor) !important;
  height: 0rem !important;
}

.loading-img{
  width: 70px;
  height: 80vh;
  margin : 0 auto;
  display: grid;
  place-items: center;
}

.topping{
  width: 150px;
}

.topping-img{
  width: 100%;
  height: 100px;
}

.meal{
  height: 300px;
}

.meal-img{
  width: 100%;
  height: 180px;
}

.meal-title{
  font-size: var(--titleSize);
  font-weight: var(--font-weight);
  color: var(--primaryColor);
}

.meal-subtitle{
  font-size: var(--subTitleSize);
  font-weight: var(--font-weight);
  color: var(--primaryColor);
}

.meal-text{
  font-size: var(--textSize);
  font-weight: var(--font-weight);
  color: var(--primaryColor);
  margin-bottom: 0;
}

.cart-text{
  font-size: var(--textSize);
  font-weight: var(--font-weight);
  color: var(--primaryColor);
}

.cart-body{
  height: 180px;
}

.footer{
  border-radius: 5px 5px 0 0;
  background-color: var(--primaryColor);
}

.bg-form{
  height: 100vh;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  display: grid;
  place-content: center;
  text-align: center;
}

.user-form{
  max-width: 500px;
  margin: 0 auto;
  color: var(--primaryColor);
  background-color: var(--whiteColor);
}

.user-form input, .user-form select{
  background-color: #F2F3F5;
}



@media only screen and (min-width : 768px){
  .position-md-fixed{
    position: fixed !important;
  }
} 

@media only screen and (max-width : 768px){
  .bg-form{
    display: none;
  }  
} 
